*{
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3{
    text-align: center;
}
p{
    width: 80%;
    margin: 0em auto;
    padding: .2em;    
    margin-bottom: .8em;
    text-align: justify;
}
.subrayadoFluor{
    font-weight: bold;
    background-color: yellow;
}
ul li{
    padding: .3em;
    list-style-type: none;
    font-variant: small-caps;
}
.principal{
    width: 80%;
    margin: 0em auto;
    margin-top: .8em;
    margin-bottom: .8em;

    text-align: justify;
    
    border: 1px solid black;
    box-shadow: -2px 2px 0px black;
}
.secundaria{
    margin: .5em;
    list-style-type: disc;
}
.secundaria li::before{
    content: '# ';
    font-weight: bold;
    font-variant: versalitas;
}
.casosPractics{
    width: 80%;
    padding: .2em;
    margin: 0em auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    box-sizing: border-box;
    
    border: 1px solid black;
    box-shadow: -2px 2px 0px black;
}
.enunciados{
    padding: 1.6em;
}
table{
    width: 80%;
    padding: .5em;
    margin: 0em auto;
    border-collapse: separate;
    border-spacing: 2em;
    
    border: 1px solid black;
    box-shadow: -2px 2px 0px black;
}
thead td{
    margin: .4em;    
    text-align: center;    
    font-weight: bolder;
}
tbody td{
    padding: 0em;
    text-align: left;
    border-bottom: 1px dotted black;
}
tbody td:nth-child(1){
    text-align: center;
    border:none;
}
tfoot td{
    text-align: center;
}
